
#provider-box {
  position: relative;
  width: 30rem;
  height: 8rem;
  display: flex;
  margin: 1rem 0;

}

.provider {
  position: relative;
  flex-basis: 30rem;
  height: 100%;
  display: block;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.2rem;
}


.online {
  background-image: url('/green-check.svg');
}

.offline {
  background-image: url('/red-x.jpg')

}

#active-provider {
  flex: 2;
  left: 0;
  background-position: 50% 20%;
}

#active-provider:after {
  content: 'Active Provider';
  position: absolute;
  top: 1rem;
  left: -2rem;
}

#backup-provider {
  transform: scale(.8);
  flex: 1;
  right: 0;
}

#backup-provider:after {
  content: 'Backup Provider';
  position: absolute;
  top: 1rem;
  left: 10rem;
  font-size: 1rem;
  white-space: nowrap;
}
